body {
    background-color:#f5f5f5;
    display: flex;
    justify-content: center;
}


.container {
    border-style: groove;
    background-color: whitesmoke;
}

.yo{
    position: relative;
    top: 10px;
    left: 35px;
    width:220px;
    height: 200px;
    border-radius: 100%;
    border-style: groove;

}


.fondo {
    display: flex;
    justify-content: center;
    background-color: rgb(228, 226, 223);
}

.Informacion{ 
    padding: 25px;
    margin: 15px 10px;
    border-style: groove
}

.Academica{
    padding: 25px;
    margin: 15px 10px;
    border-style: groove
}

.Habilidades{
    padding: 25px;
    margin: 15px 10px;
    border-style: groove
}

.Proyectos{
    padding: 25px;
    margin: 15px 10px;
    border-style: groove
}

.certificados {
    padding: 25px;
    margin: 15px 10px;
    border-style: groove
}