body {
    display: flex;
    justify-content: center;
}

form {
    justify-content: center;
    background-color: aliceblue;
    width: 340px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px;
}