
.container {
    border-style: groove;
    background-color: whitesmoke;
}


.fondo {
    display: flex;
    justify-content: center;
    background-color: rgb(228, 226, 223);
}

.infoperso{ 
    padding: 25px;
    margin: 15px 10px;
    border: 2px solid black;
    text-align: center;
}


.Proyectos{
    padding: 25px;
    margin: 15px 10px;
    border-style: groove
}


.foto {
    border: 3px solid black;
    margin-left: 250px;
}


.yo {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-left: 30px;
    margin-right: 30px;
    object-position: center;
    object-fit: cover;
    object-position: center;
    border: 3px solid black;
}

.datos {
    border: 3px solid black;
    margin-left: 250px;
    object-position: center;
}

.Infoaca {

    border: 2px solid black;
    text-align: center;
}

.infoperso {
    border: 2px solid black;
    text-align: center;
}

.col2 {
    border: 2px solid black;
    text-align: center;
}

.col21 {
    border: 2px solid black;
        text-align: center;
}
.col22 {
    border: 2px solid black;
    text-align: center;
    
}
.col3 {
    border: 2px solid black;
    text-align: center
}
.contac{
    border: 2px solid black;
    text-align: center
}